<div fxLayout="column" fxLayoutAlign="start center" class="mat-body-1">
  <span class="mat-h2">Work experience:</span>
  <section class="mat-h3">
    <ul>
      <li><strong>Backend Developer, Aequilibrium - Oct/2020 - Present - Vancouver, Canada</strong></li>
        <ul>
          <li>Tackling complex architectures and consulting with clients to bring clarity to challenging enterprise environments.</li>
          <li>Working with the financial services team to implement digital banking transformation projects on the Backbase platform.</li>
          <li>Creating omni-channel new user experiences that take banking into the 21st century and building integrations that enable <br/> our customers to overcome the limitations of aging legacy systems.</li>
          <li>Technologies used: Spring Boot, Spring MVC, Spring Security.</li>
        </ul>
      <li><strong>Java Developer, Finance Department of The City - Nov/2013 - Aug/2019 - Fortaleza/CE, Brazil</strong></li>
        <ul>
          <li>Development and maintenance of Java systems for control and management of taxes collected by the city.</li>
          <li>Participation of the group responsible for developing a new Java web system for issuing invoices in order to replace the old system that was already outdated.</li>
          <li>Setting up a new git flow-inspired software release process resulting in more efficient production deployments.</li>
          <li>Created a Java web system to assist with task development and QA environment creation with one more colleague, using a background of automated tests and integration tests with docker.</li>
          <li>Responsible for applying on legacy systems - JBoss EAP applications - unit tests and integration tests in order to ensure more security in the development and change of functionality.</li>
          <li>Technologies used: Arquillian, Bootstrap, Docker, EJB, Freemarker, Git, Gitlab, Guice, Hibernate, H2 Database, JBoss EAP, JBoss Seam, JSF, Java 7, Java 8, Javascript, Jenkins, Junit, Maven 3, Needle4j, Oracle, Pippo, REST, SOAP, SVN.</li>
        </ul>
      <li><strong>Java Developer, CPQi IT Offshore Solutions - Sep/2011 - Nov/2013 - Fortaleza/CE, Brazil</strong></li>
        <ul>
          <li>Development of Java systems for financial products.</li>
          <li>Web development applications in Java for JP Morgan Chase bank, using Scrum methodology: daily meetings, planning poker, review, retrospective and definitions of done settings such as SonarQube alerts and 80% test coverage.</li>
          <li>ETL (Extract, Transform, Load) from bank contract data to a RiskPro risk system, resulting in reports for strategic decisions.</li>
          <li>Technologies used: BitBucket, Bootstrap, Git, JAXB, Java 6, Java 7, Javascript, Jenkins, Junit, HSQLDB, Maven 3, MyBatis, Oracle, SonarQube, Spring Integration, Spring JPA, Spring MVC, Sybase, TDD, Xstream.</li>
        </ul>
    </ul>
  </section>
</div>
